stockdriver.appName = "Stock Driver"
stockdriver.sparkMaster = "local[*]"
stockdriver.sparkWarehouseDir = "file:///C:/tmp/spark-warehouse"
stockdriver.sparkLocalDir = "file:///C:/tmp/spark-temp"
stockdriver.fileName = "NYSE_daily_prices_A.csv"

refdatadriver.appName = "Ref Data Driver"
refdatadriver.sparkMaster = "local[*]"
refdatadriver.sparkWarehouseDir = "file:///C:/tmp/spark-warehouse"
refdatadriver.sparkLocalDir = "file:///C:/tmp/spark-temp"

refdatadriver.db.driver = "oracle.jdbc.OracleDriver"
#refdatadriver.db.dbtable = 
refdatadriver.db.url = "jdbc:oracle:thin:@//localhost:1521/xe"
refdatadriver.db.user = <TBD>
refdatadriver.db.password = <TBD>
