recommender.appName = "Recommender"
recommender.numRecommendations = 5

recommender.userartist.filename = "user_artist_data.txt"
recommender.artist.filename = "artist_data.txt"
recommender.artistalias.filename = "artist_alias.txt"

recommender.appName = "Recommender"
recommender.numRecommendations = 5
