recommender.batch.appName = "Recommender Batch"
recommender.batch.numRecommendations = 5

recommender.batch.userartist.filename = "user_artist_data.txt"
recommender.batch.artist.filename = "artist_data.txt"
recommender.batch.artistalias.filename = "artist_alias.txt"
